.container {
    display: flex;
    align-items: center;
    column-gap: 7px;
    cursor: pointer;
    &:hover {
        color: var(--orange);
    }
}

@media (max-width: 665px) {
    .container span {
        display: none;
    }
}
