.navlink {
    color: inherit;
    display: flex;
    align-items: center;
    column-gap: 7px;
    &:hover {
        color: var(--orange);
    }
}

@media (max-width: 665px) {
    .navlink span {
        display: none;
    }
}
