.form {
    background-color: var(--background);
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    z-index: 5;
    font-size: 12vw;
    display: flex;
    align-items: center;
    max-width: 1000px;
}

.divider {
    color: var(--foreground);
}

.input {
    border: none;
    outline: none;
    line-height: 12vw;
    font-size: 12vw;
    font-weight: bold;
    font-family: inherit;
    width: 15vw;
    padding: 0;
    text-align: center;
    color: var(--brown);
    &:focus {
        cursor: default;
        color: var(--foreground);
        background-color: var(--yellow-edit);
    }
}
